# Core LangChain
langchain
langchain-core
langchain-community

# HuggingFace embeddings (IMPORTANT)
langchain-huggingface
sentence-transformers

# LLM
langchain-mistralai

# Vector DB
chromadb

# Document loaders
pypdf
unstructured
beautifulsoup4
lxml

# Env
python-dotenv

# Optional (you can remove if not using)
fastapi
uvicorn
streamlit

# Utilities
tqdm
requests